:root {
    --base-color: #0c0c31;
    --color-btn: #ff325f;
    --dotted-color: #999;
    --white-color: #fff;
    --text-color: #000;
    --arrow-icon-color: #666;
    --gray-color: #f1f1f1;
  
    --item-box-01-color: #222;
    --item-box-02-color: #eecb48;
    --item-box-03-color: #ff346e;
    --item-box-04-color: #31ab8e;
    --item-box-05-color: #f7931e;
    --item-box-06-color: #0071bc;
    --item-box-07-color: #8cc63f;
  }


